@charset "utf-8";
/* CSS Document */

    body {
	background-color: #FFFFFF;
	border: 1px solid #333;
	text-align: center;
	}
	
	h1 {
	font-weight: lighter;
			
		}
		
	#form1 {
	text-align: center;
	font-style: normal;
		
	}
	
	span {
		
		text-align: center}
